.contact
  .main-content
    +grid(5)
    +grid-prefix(6)
    +grid-suffix(1)
    position: relative
    min-height: 400px
    img
      position: absolute
      top: -110px
      left: 100px
    a
      text-decoration: none
      color: #999
      &:hover
        text-decoration: underline
