nav
  position: absolute
  right: 0
  font-family: serif

  ol
    margin-top: 50px

  a
    text-decoration: none
    +link-colors(#999, #999, #999, #999, #999)

    &:hover
      text-decoration: underline

  li
    padding: 8px
    list-style:
      type: circle
      position: inside

    &.current
      list-style-type: disc

      a
        color: #666
