@import compass
@import h5bp
@import 960/grid

body
  font: 16px/1.5 "Times New Roman", Times, serif
  padding-bottom: 3em

.container
  +grid-container
  color: #666
  overflow: hidden

header,
footer
  +grid(12)
  +clearfix

header
  position: relative
  margin: 10px 0 30px
  .image-container
    +grid(10)
    +alpha

.main-content
  clear: both

@import nav
@import about
@import gallery
@import gallery/index
@import news
@import contact
