%header
  .image-container
    %a(href="/")
      =image_tag("titles/#{data.page.header_image}.jpg")
  %nav
    %ol
      -for link in data.menu.links
        %li{:class => current?(data.page.title, link)}
          =link_to link, url(link)
      %li= link_to 'Shop',     'http://www.etsy.com/uk/shop/GoldfinchJewellery'
      %li= link_to 'Facebook', 'https://www.facebook.com/GoldfinchJewelleryDesign'
