%header
  .image-container
    =image_tag("#{@title.parameterize}_title.jpg")
  %nav
    %ol
      -data.menu.links.each do |link|
        %li
          =link_to link, url(link), :class => current?(@title, link)
      -
