---
title: Branches | Gallery
header_image: gallery
anchor: gallery
body_class: gallery branches
anchor: Gallery
---

%p
  %a(href="/gallery/")Back to gallery

%ul.gallery-images
  %li
    %p
      =image_tag("gallery/g4.1.jpg")
      Sterling silver, wood, resin and suede brooch.
  %li
    %p
      =image_tag("gallery/g4.2.jpg")
      Sterling silver, wood and resin brooch

%p
  %a(href="/gallery/")Back to gallery
