- @title = 'Commissions | Gallery'
- @header_image = @anchor = 'gallery'
- @body_class = "gallery commissions"
- @anchor = 'Gallery'
%ul.gallery-images
  %li
    %p
      =image_tag("gallery/g5.1.jpg")
      Cushion shaped green Tourmaline, recycled 18ct yellow gold and sterling
      silver ring.
  %li
    %p
      =image_tag("gallery/g5.2.jpg")
      Diamond and recycled 18ct yellow gold ring.
