- @title = 'Peace Doves | Gallery'
- @header_image = @anchor = 'gallery'
- @body_class = "gallery peace-doves"
- @anchor = 'Gallery'
%ul.gallery-images
  %li
    %p
      =image_tag("gallery/g3.1.jpg")
      Large sterling silver and cultured pearl dove pendant on hand platted
      linen. Small sterling silver and cultured pearl brooch
  %li
    %p
      =image_tag("gallery/g3.2.jpg")
      Broochs in sterling silver, suede and acrylic 
  %li
    %p
      =image_tag("gallery/g3.3.jpg")
      Sterling silver ring with paper and resin
