- @title = 'Woodlands'
- @header_image = @anchor = 'gallery'
- @body_class = "gallery woodlands"
- @anchor = 'Gallery'

%p
  %a(href="/gallery.html")Back to gallery

%p
  Weather gallery coming soon...
