- @title = 'Woodlands'
- @header_image = @anchor = 'gallery'
- @body_class = "gallery woodlands"
- @anchor = 'Gallery'

%p
  %a(href="/gallery.html")Back to gallery

%ul.gallery-images
  %li
    %p
      =image_tag("gallery/g2.1.jpg")
      Sterling silver acorn, oak wood and resin brooch
  %li
    %p
      =image_tag("gallery/rev_acor2.jpg")
      Small sterling silver acorn and resin necklace
  %li
    %p
      =image_tag("gallery/rev_acor3.jpg")
      Large sterling silver acorn on chain
  %li
    %p
      =image_tag("gallery/rev_acor4.jpg")
      Small sterling silver acorn pendant on a string of Peridot beads

%p
  %a(href="/gallery.html")Back to gallery
