- @title = 'Woodlands'
- @header_image = @anchor = 'gallery'
- @body_class = "gallery woodlands"
- @anchor = 'Gallery'

%p
  %a(href="/gallery/")Back to gallery

%ul.gallery-images
  %li
    %p
      =image_tag("gallery/DSCF0159-copy.jpg")
      Silver acorn with enamel oak leaf pendant
  %li
    %p
      =image_tag("gallery/DSCF0182-copy.jpg")
      Silver acorn pendant
  %li
    %p
      =image_tag("gallery/DSCF0189-copy.jpg")
      Silver studs
  %li
    %p
      =image_tag("gallery/DSCF0176-copy.jpg")
      Silver and enamel necklace
  %li
    %p
      =image_tag("gallery/DSCF0186-copy.jpg")
      Silver and enamel lapel pin

%p
  %a(href="/gallery/")Back to gallery
