- @title = 'Woodlands'
- @header_image = @anchor = 'gallery'
- @body_class = "gallery woodlands"
- @anchor = 'Gallery'

%p
  %a(href="/gallery.html")Back to gallery

%ul.gallery-images
  %li
    %p
      =image_tag("gallery/DSCF0159-copy.jpg")
  %li
    %p
      =image_tag("gallery/DSCF0186-copy.jpg")
  %li
    %p
      =image_tag("gallery/DSCF0182-copy.jpg")
  %li
    %p
      =image_tag("gallery/DSCF0176-copy.jpg")
  %li
    %p
      =image_tag("gallery/DSCF0159-copy.jpg")

%p
  %a(href="/gallery.html")Back to gallery
