---
title: Contact Me
header_image: contact
body_class: contact
anchor: Contact
---

=image_tag('map.jpg', :alt => 'map', :class => 'map')
%p
  %a(href="mailto:lucy@goldfinchjewellery.co.uk") lucy@goldfinchjewellery.co.uk
  %br/
  %span.phone Lucy Ramsbottom 07771623596

:markdown
  If you would like more information or are interested in commissioning a piece
  of work please contact Lucy Ramsbottom

  **Tel:** 0771623596  
  **Email:** [lucy@goldfinchjewellery.co.uk][1]

  **Post:**  
  Lucy Ramsbottom  
  Yew Tree Barn  
  Low Newton  
  Cumbria  
  LA11 6JP

  [1]: mailto:lucy@goldfinchjewellery.co.uk
