- @title = 'Contact Me'
- @header_image = @body_class = "contact"
- @anchor = 'Contact'

=image_tag('map.jpg', :alt => 'map', :class => 'map')
%p
  %a(href="mailto:lucy@goldfinchjewellery.co.uk") lucy@goldfinchjewellery.co.uk
  %br/
  %span.phone Lucy Ramsbottom 07771623596
