- @title = 'Gallery'
- @header_image = 'gallery'
- @body_class = "gallery gallery-index"

%p
  Click on the image for each collection

%div.galleries
  -for gallery in data.menu.galleries
    %a(href="/gallery/#{gallery.parameterize}/")
      %div(class="#{gallery.parameterize} gallery")
        %h3 #{gallery}
