-@title = 'Gallery'
%ul.gallery-navigation
  %li.gallery-1
    =link_to image_tag("gallery_1.jpg"), '/gallery/gallery_1/'
    %a(href="/gallery/gallery_1/")
      %span.name Gallery 1
  %li.gallery_2
    =link_to image_tag("gallery_2.jpg"), '/gallery/gallery_2/'
    %a(href="/gallery/gallery_2/")
      %span.name Gallery 2
  %li.gallery_3
    =link_to image_tag("gallery_3.jpg"), '/gallery/gallery_3/'
    %a(href="/gallery/gallery_3/")
      %span.name Gallery 3
  %li.gallery_4
    =link_to image_tag("gallery_4.jpg"), '/gallery/gallery_4/'
    %a(href="/gallery/gallery_4/")
      %span.name Gallery 4
  %li.gallery_5
    =link_to image_tag("gallery_5.jpg"), '/gallery/gallery_5/'
    %a(href="/gallery/gallery_5/")
      %span.name Gallery 5
