---
title: Lucy Ramsbottom, Jewellery Designer Maker
header_image: about
body_class: about
anchor: About
---

:markdown

  Having gained her Higher National Diploma In Jewellery and Silversmithing at
  the Birmingham School of Jewellery in 2002, Lucy honed her design and making
  skills working in Australia and New Zealand before establishing her own
  workshop in the UK in 2010. She is now resident within Yew Tree Barn in Low
  Newton, Cumbria.

  Raised in the Howgill Fells, which nestle between the Lake District and
  Yorkshire Dales, it is not surprising that the natural world provides the
  inspiration for much of her work.

  Ramsbottom 2011
