- @title = "News"
- @header_image = @body_class = "news"

%section
  :markdown

    ## Stockists

    'Supplier' - Red Barn Gallery. Melkinthorpe, Penrith, Cumbria, CA10 2DR.
    Tel 01931 712 767  
    [info@redbarngallery.co.uk][1] - [www.redbarngallery.co.uk][2]

    [1]: mailto:info@redbarngallery.co.uk
    [2]: http://www.redbarngallery.co.uk

%section
  :markdown

    ## Events and Exhibitions

    'Exhibition Six 10' at Red Barn Gallery, opening preview on Sat 6th Nov
    from 2 - 4 pm.

    Bath Artists Studio 'Christmas Arts Supermarket'. Private view 3rd Dec,
    6 - 9 pm. Open 4th and 5th December, 11 am - 5 pm.

    'Bath Artists' Studios,  
    The Old Malthouse,  
    Comfortable place,  
    Upper Bristol Rd,  
    Bath BA1 3AJ  
    [www.bathartistsstudios.co.uk][1]

    'Exhibition five 10' at Red Barn Gallery, opening preview on saturday 18th
    sep 6-8pm. runs to 2nd Nov. Introducing Goldfinch Jewellery's first
    collection there.

    Open Weekend at Holme Mills, where Goldfinch's studio is based. 24th, 25th
    and 26th Sep. A chance to come down and see the studio's, workshops and
    gallery, including furniture makers, painters and print makers, ceramicists
    and more.

    [1]: http://www.bathartistsstudios.co.uk

%section
  :markdown

    ## Awards

    Goldsmiths’ Craft and Design Council. Craftsmanship and Design Awards
    2005. ‘Commended’ for 3D production jewellery.

    Goldsmiths’ Council. Craftsmanship and Design Awards 2003. ‘Silver’ for
    finished pieces.

    British Jewellers’ Association, 2002, Certificate of Merit for Higher National
    Diploma in Jewellery and Silversmithing, 2nd year student – 1st prize.

    B.J.A. 2001, Commendation Award for H.N.D. in Jewellery and Silversmithing, 1st
    year student.

    B.J.A. 2001, Awarded the travel bursary.

    Arthur Price of England Design Competition 2001, 1st prize for designing
    a bowl, which was produced and sold by the Arthur Price Company.

%section
  %h2 Press
  =image_tag('the_guide.jpg', :alt => 'The Guide Magazine')
